site_name: GWASLab
site_author: HE Yunye
repo_name: 'GitHub'
repo_url: https://github.com/Cloufield/gwaslab/
edit_uri: ""
copyright: "GWASLab is licensed under the GPL-3.0-only license. See LICENSE file for details."
theme:
  name: material
  features:
    - navigation.tabs
  font:
    code: Roboto Mono
    text: Roboto
  palette:
    primary: blue
    accent: blue
  logo: assets/gwaslab.png
  favicon: assets/gwaslab.png
    
nav:
    - Home:
       - Home : index.md
       - "Update logs" : UpdateLogs.md
       - "Known Issues" : KnownIssues.md
       - "Reserved Headers": reserved_header.md
       - "License" : LICENSE.md
    - Start: 
       - Tutorial: tutorial_v4.md
    - CLI:
       - "Command Line Interface": CLI.md
       - "CLI Workflow Examples": CLIWorkflowExamples.md
    - DataProcessing:
       - "Sumstats Object": SumstatsObject.md
       - "Status Code": StatusCode.md
       - "Standardization and Normalization": Standardization.md
       - "QC and Filtering": QC&Filtering.md
       - Harmonization: Harmonization.md
       - "Assigning rsID" : AssignrsID.md
       - "Assign CHR/POS using rsID" : AssignCHRPOS.md
       - Liftover: LiftOver.md
       - "Data conversion": Conversion.md
    - Plotting:
       - "Manhattan and QQ plot": Visualization.md
       - "Regional Plot": RegionalPlot.md
       - "Brisbane Plot": BrisbanePlot.md
       - "Miami Plot": MiamiPlot.md
       - "Trumpet Plot (testing)": TrumpetPlot.md
       - "Effect Size Comparison": EffectSize.md
       - "Allele Frequency Comparison": AlleleFrequency.md
       - "Genetic Correlation Heatmap" : GeneticCorrelation.md
       - "Gallery" : Gallery.md
    - Analysis:
       - "Extract Lead Variants":  ExtractLead.md
       - "Extract Novel Variants": ExtractNovel.md
       - "LDSC in GWASLab": LDSCinGWASLab.md
       - "Clumping" : Clumping.md
       - "GWAS Catalog API": GWASCatalogAPI.md
       - "Infer Genome Build": InferBuild.md
       - "Infer Ancestry": InferAncestry.md
       - "Per-SNP R2 and F" : PerSNPh2.md
       - "Convert Heritability": HeritabilityConversion.md
    - IO:
       - "Format and Save": Format.md
       - "Save Sumstats Object": Pickle.md 
       - "Load LDSC log": LoadLDSC.md
       - "FASTA I/O": FASTA.md
       - "GTF I/O": GTF.md
       - "VCF I/O": VCF.md
    - Reference:
       - "Download": Download.md 
       - "Reference data" : Reference.md
       - "Common data": CommonData.md
       - "Hapmap3": Hapmap3.md
       - "HLA region": HLA.md
       - "Paper Reference": PaperReference.md
    - Examples:
       - "Standardization": standardization_workflow.md
       - "Harmonization" : harmonization_workflow.md
       - "Output sumstats" : format_load_save.md
       - "Liftover" : harmonization_liftover.md
       - "LD score regression" : ldsc_in_gwaslab.md
       - "Clumping" : util_ex_clumping.md
       - "Lead and novel variants" : utility_get_lead_novel.md
       - "Extract LD proxy" : Extract_LD_proxy.md
       - "Data conversion" : utility_data_conversion.md
       - "Manhattan and QQ plot": visualization_mqq.md     
       - "Regional plot" : visualization_regional.md
       - "Miami plot": visualization_miami2.md
       - "Stacked MQQ plot": visualization_stacked_mqq.md
       - "Brisbane plot" : visualization_brisbane.md
       - "Correlation heatmap" : visualization_plot_genetic_correlation.md
       - "Download reference": Download_reference.md
       
markdown_extensions:
  - toc:
      toc_depth: 3
  - admonition
  - tables
  - abbr
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences 
  - pymdownx.snippets


extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
  - javascripts/hide-sidebar-tutorial.js

plugins:
  - search

