img{
max-width:700px;
height: auto;
}

.md-typeset__table {
   min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
    font-size: 0.4rem;
}


.md-typeset body {
    font-size: 0.4rem;
}