img{
max-width:700px;
height: auto;
}

.md-typeset body {
    font-size: px2rem(10px);
 }

.md-typeset__table {
   min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
    font-size: px2rem(11px);
}

.md-typeset td {
    padding: px2em(6px, 6.8px) px2em(8px, 6.8px);
    vertical-align: top;
    border-top: px2rem(1px) solid var(--md-typeset-table-color);
  }