img{
max-width:700px;
height: auto;
}

.md-typeset body {
    font-size: px2rem(10px);
 }

.md-typeset__table {
   min-width: 100%;
   margin-bottom: 0.2em;
   padding: 0 0.3rem;
}

.md-typeset table:not([class]) td {
    border-top: 0.05rem solid var(--md-typeset-table-color);
    padding: 0.3em 0.4em;
    vertical-align: top;
}

.md-typeset table:not([class]) {
    display: table;
    font-size: px2rem(11px);
    border-spacing:  px2em(1px);
}